@page "/store"
@using GameStore.Web.Shared.Models.SummaryModels;

@inject HttpClient http
@inject NavigationManager UriHelper

<h3>List of Stores</h3>


<MudTable Items="@storeSummaryModel" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Name</MudTh>
		<MudTh>Address</MudTh>
		<MudTh>View</MudTh>
    </HeaderContent>
	<RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Description</MudTd>
        <MudTd DataLabel="Description">@context.Name</MudTd>
        <MudTd DataLabel="Address">@context.Address</MudTd>
		<MudIcon Icon="@Icons.Filled.RemoveRedEye" @onclick="() => ViewCurrentStore(context.Id)" Title="View" Style="cursor: pointer;" />
    </RowTemplate>
</MudTable>

<br />

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Create" Color="Color.Info">Create New Entry</MudButton>
